.App {
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  background-color: #E5D0AC; /* soft red */
  font-family: sans-serif;
  overflow: auto; /* Allows scrolling if content overflows */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* This will try to take full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* If you add a lot of content here, the body will now scroll */
  /* For testing, you could add:
     padding-bottom: 500px;
     to .App-header to force overflow */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}